{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Books edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('book') }}">
            Back to the list
        </a>
    </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li>{{ form(delete_form) }}</li>
            {%  endif %}
</ul>
{% endblock %}
