{% extends '::base.html.twig' %}

{% block body -%}
    <h4>Book edit</h4>
    <hr>

    {{ form(edit_form) }}

    <ul class="record_actions">
        {% if is_granted('ROLE_ADMIN') %}
            <li>{{ form(delete_form) }}</li>
        {%  endif %}
        <li>
            <form action=" {{ path('book') }} ">
                <input type="submit" value="Back to the list" class="btn-default btn">
            </form>
        </li>

</ul>
{% endblock %}
