{% extends '::base.html.twig' %}

{% block body -%}
    <h4>Book edit</h4>
    <hr>

    {{ form(edit_form) }}

    <ul class="record_actions">
        {% if is_granted('ROLE_ADMIN') %}
            <li>{{ form(delete_form) }}</li>
        {%  endif %}
        <li>
            <a href="{{ path('book') }}">
                Back to the list
            </a>
        </li>

</ul>
{% endblock %}
