
{% for popular in mostPopular %}
   <li><a href =" {{ path('book_show', { 'id' : popular.id }) }}" class="ajax_pop" >
           {{ popular.cover | raw }} <br>
           {{ popular.author }} <br>
           {{ popular.title }}  <br>
       </a>
   </li>
{% endfor %}
