{% extends '::base.html.twig' %}

{% block body -%}
    <h4>Books creation</h4>
    <hr>
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <form action=" {{ path('book') }} ">
            <input type="submit" value="Back to the list" class="btn-default btn">
        </form>
    </li>
</ul>
{% endblock %}
