# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   "%database_driver%"
    database_host:     "%database_host%"
    database_port:     "%database_port%"
    database_name:     "%database_name%"
    database_user:     "%database_user%"
    database_password:  "%database_password%"
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  ~
    mailer_host:       ~
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ~

    #keys for GoodReads and Amazon API
    goodreads_key:      ~
    amazon_key:         ~
    amazon_secret_key:  ~
    amazon_tag:         ~