<div class="book_on_base">
{% if message == false %}
{{ reservedBook.getBook().getCover() | raw }} <br>
{{ reservedBook.getBook().getAuthor() }} <br>
{{ reservedBook.getBook().getTitle() }} <br>
    <form class="right_side" action="{{ path('fos_user_profile_show')  }}">
        <input type="submit" value="More">
    </form><br>
{% else %}
    <b>There is no active reservations</b>
{% endif %}
</div>