<div class="book_on_base">
{% if message == false %}

{{ recentBook.getBook().getCover() | raw }} <br>
{{ recentBook.getBook().getAuthor() }} <br>
{{ recentBook.getBook().getTitle() }} <br>
    <form class="right_side" action="{{ path('fos_user_profile_show')  }}">
        <input type="submit" value="More">
    </form>
{% else %}
    <b>There is no active orders</b>
{% endif %}
    <br>
</div>
